<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Subir Foto de perfil</div>

                    <div class="card-body">
                        <form action="#">
                            <label >Foto:</label>
                            <input type="file" id="imagen" ref="imagen" v-on:change="handleFileUpload()" class="form-control-file" accept="image/*"/>
                            <div class="col-md-4 mt-5">
                                <input @click="registrarFoto()" class="btn btn-primary btn-block" value="Agregar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
     export default {
        data(){
            return{
                id: 0,
                user_id: 0,
                imagen: null,
                title: '',
                body: '',
                agregar: false,
                actualizar:false,
                arrayPosts:[],
                user_name : ''
            }
        },
        methods:{
            usuario(){
                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
                this.user_name = JSON.parse(user.content).name;
                this.user_id =  JSON.parse(user.content).id;
            },
            // listarPosts(){
            //     let me = this;

            //     let user = document.head.querySelector('meta[name="user"]');
            //     console.log(JSON.parse(user.content).id);
                
            //     var user_id =  JSON.parse(user.content).id;

            //     var url = '/post/user/'+user_id;
            //     axios.get(url).then(function (response){
            //         //console.log(response);
            //         me.arrayPosts = response.data;
            //         me.agregar=true;
            //         me.actualizar=false;
            //         me.limpia();
            //     })
            //     .catch(function (error){
            //         console.log(error);
            //     });
            // },
            
            registrarFoto(){
                let formData = new FormData();
                formData.append('url', this.imagen);
                formData.append('modelo_id',this.user_id);
                formData.append('modelo_type','User');

                let me = this;
                var url = '/image/registrar';
                axios.post(url, formData   
                    ,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(function (response){
                    //console.log(response); 
                    //me.listarPastel();
                    window.location.href = '/home'
                }).catch(function (error){
                     console.log(error);
                });
            },
            modificarPost(){
                let me = this;
                var url = '/post/modificar';
                axios.put(url,{
                    'id': this.id,
                    'title': this.title,
                    'body':this.body,
                } ).then(function (response){
                    console.log(response); 
                    me.listarPosts();
                }).catch(function (error){
                     console.log(error);
                });
            },
            actualiza(data = []){
                this.id= data['id'];
                this.title= data['title'];
                this.body= data['body'];
                this.agregar=false;
                this.actualizar=true;
            },
            limpia(){
                this.id= '';
                this.title= '';
                this.body= '';
                this.agregar=true;
                this.actualizar=false;
            },
            handleFileUpload(){
                this.imagen = this.$refs.imagen.files[0];
            },
        },
        mounted() {
            console.log('Component mounted.');
            this.usuario();
        }
    }
</script>