<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">

                 
                <div class="card card-default mt-5">
                    <div class="card-header" v-text="this.user_name"></div>

                    <div class="card-body" >
                        <figure>
                            <img v-bind:src="this.url" width="100" height="100" alt="Image" class="img-responsive">
                        </figure>
                    </div>
                </div>

                <form action="#">
                    <label >Foto:</label>
                    <input type="file" id="imagen" ref="imagen" v-on:change="handleFileUpload()" class="form-control-file" accept="image/*"/>
                    <div>
                        <input @click="registrarFoto()" type="button" value="Subir Foto">
                    </div>
                </form>
               
                <template v-if="agregar==true">
                <div class="card card-default mt-5">
                    <div class="card-header" >Hola {{user_name}} Publica tu noticia</div>

                    <div class="card-body" >
                        <form action="#">
                        <div>
                            <input type="text" v-model="title" placeholder="titulo">
                        </div>
                        <div>
                            <input type="text" v-model="body" placeholder="Publicación">
                        </div>
                        
                        <div>
                            <input @click="registrarPost()" type="button" value="Publicar">
                        </div>

                        </form>
                    </div>
                </div>
                </template>
                <template v-if="actualizar==true">
                <div class="card card-default mt-5">
                    <div class="card-header" >Modificar</div>

                    <div class="card-body" >
                        <form action="#">
                        <div>
                            <input type="text" v-model="title" placeholder="titulo">
                        </div>
                        <div>
                            <input type="text" v-model="body" placeholder="Publicación">
                        </div>
                        <figure>
                            <img v-bind:src="this.urlImg" width="100" height="100" alt="Image" class="img-responsive">
                        </figure>
                        <div>
                            <input @click=" modificarPost()" type="button" value="Modificar">
                        </div>
                        
                        </form>
                    </div>
                </div>
                </template>

                <div v-for="post in arrayPosts" :key="post.id">
                <div class="card card-default mt-5">
                    <div class="card-header" v-text="post.user"></div>

                    <div class="card-body" >
                        <h1 v-text="post.title"></h1>
                        <p v-text="post.body"></p>
                        <div>
                            <input @click="actualiza(post)" type="button" value="Modificar">
                        </div>
                        
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
    export default {
        data(){
            return{
                id: 0,
                user_id: 0,
                title: '',
                body: '',
                url:'',
                urlImg: '',
                agregar: false,
                actualizar:false,
                arrayPosts:[],
                arrayFotos:[],
                arrayImages:[],
                user_name : '',
                imagen: null
            }
        },
        methods:{
            usuario(){
                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
                this.user_name = JSON.parse(user.content).name;
                this.user_id =  JSON.parse(user.content).id;
            },
            listarPosts(){
                let me = this;

                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
                
                var user_id =  JSON.parse(user.content).id;

                var url = '/post/user/'+user_id;
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayPosts = response.data;
                   
                    me.agregar=true;
                    me.actualizar=false;
                    me.limpia();
                })
                .catch(function (error){
                    console.log(error);
                });
            },
            
            registrarPost(){
                let me = this;
                var url = '/post/registrar';
                axios.post(url,{
                    'title': this.title,
                    'body':this.body,
                    'user_id':this.user_id,
                    
                } ).then(function (response){
                    console.log(response); 
                    me.listarPosts();
                }).catch(function (error){
                     console.log(error);
                });
            },
            modificarPost(){
                let me = this;
                var url = '/post/modificar';
                axios.put(url,{
                    'id': this.id,
                    'title': this.title,
                    'body':this.body,
                } ).then(function (response){
                    console.log(response); 
                    me.listarPosts();
                }).catch(function (error){
                     console.log(error);
                });
            },
            actualiza(data = []){
                this.id= data['id'];
                this.title= data['title'];
                this.body= data['body'];
                this.agregar=false;
                this.actualizar=true;
                this.mostrarImagen1();
            },
            registrarFoto(postId){
                let formData = new FormData();
                formData.append('url', this.imagen);
                formData.append('modelo_id',1);
                formData.append('modelo_type','Post');

                let me = this;
                var url = '/image/registrar';
                axios.post(url, formData   
                    ,{
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(function (response){
                    //console.log(response); 
                    //me.listarPastel();
                    window.location.href = '/home'
                }).catch(function (error){
                     console.log(error);
                });
            },
            limpia(){
                this.id= '';
                this.title= '';
                this.body= '';
                this.agregar=true;
                this.actualizar=false;
            },
             mostrarImagen(){
                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
                this.user_name = JSON.parse(user.content).name;
                this.user_id =  JSON.parse(user.content).id;
                let me = this;
                var url = '/image/user/'+this.user_id;
                axios.get(url).then(function (response){
                    console.log(response);
                    me.arrayFotos = response.data;
                    me.url = me.arrayFotos[me.arrayFotos.length - 1].url;
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            mostrarImagen1(){
                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
                this.user_name = JSON.parse(user.content).name;
                this.user_id =  JSON.parse(user.content).id;
                let me = this;
                var url = '/image/post/'+this.id;
                axios.get(url).then(function (response){
                    console.log(response);
                    me.arrayImages = response.data;
                    me.urlImg = me.arrayImages[0].url;
                })
                .catch(function (error){
                    console.log(error);
                });
            }, 
            handleFileUpload(){
                this.imagen = this.$refs.imagen.files[0];
            },
        },
           
        mounted() {
            console.log('Component mounted.');
            this.usuario();
            this.listarPosts();
            this.mostrarImagen();
            
        }
    }
</script>