<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div v-for="post in arrayPosts" :key="post.id">
                <div class="card card-default mt-5">
                    <div class="card-header" v-text="post.user"></div>

                    <div class="card-body" >
                        <h1 v-text="post.title"></h1>
                        <p v-text="post.body"></p>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return{
                id: 0,
                user_id: 0,
                title: '',
                body: '',
                agregar: false,
                actualizar:false,
                arrayPosts:[],
                user_name : '',
                imagen : ''
            }
        },
        methods:{
            usuario(){
                let user = document.head.querySelector('meta[name="user"]');
                console.log(JSON.parse(user.content).id);
                this.user_name = JSON.parse(user.content).name;
                this.user_id =  JSON.parse(user.content).id;
            },
            listarPosts(){
                let me = this;
                var url = '/post';
                axios.get(url).then(function (response){
                    //console.log(response);
                    me.arrayPosts = response.data;
                    me.agregar=true;
                    me.actualizar=false;
                })
                .catch(function (error){
                    console.log(error);
                });
            },
        },
        mounted() {
            console.log('Component mounted.');
            this.usuario();
            this.listarPosts();
        }
    }
</script>
